body .w-md-editor-text-pre>code,
body .w-md-editor-text-input {
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
  font-family: 'Fira Code', monospace !important;
}

.w-md-editor-toolbar {
  gap: 0.5rem !important;
}

.MDEditor .w-md-editor-toolbar li button svg {
  width: 14px;
  height: 14px;
}

.MDEditor .w-md-editor-toolbar li button {
  height: auto;
}

.MDEditor {
  height: auto !important;
  display: flex !important;
  height: calc(var(--vh, 1vh) * 100 - 7.5rem) !important;
}

.MDEditor img[src$=".svg"] {
  margin: 3px 0;
}

.messageText {
  fill: #D3D3D3 !important;
}

.label-container,
.actor {
  stroke: #CCCCCC !important;
  fill: #1F2020 !important;
}

line {
  stroke: #CCCCCC !important;
}

tspan {
  fill: #D3D3D3 !important;
}

.flowchart-link {
  stroke: #D3D3D3 !important;
  /* Set stroke color */
  fill: none;
  /* No fill for the path */
}

[class^="messageLine"] {
  stroke: #D3D3D3 !important;
}

.note {
  stroke: #323232 !important;
  fill: #474949 !important;
}

.nodeLabel p {
  color: #C9C9C9 !important;
}

.edgeLabel p {
  color: #C9C9C9 !important;
  background-color: #585858 !important;
}

.w-md-editor-content {
  display: flex !important;
  flex-direction: column !important;
  position: static !important;
  flex: 1 !important;
  height: auto !important;
  border: 0 !important;
}

.w-md-editor-input,
.w-md-editor-preview {
  position: static !important;
  flex: 1 !important;
  height: auto !important;
  min-height: auto !important;
  max-height: auto !important;
  border: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
  overflow: auto !important;
}

.w-md-editor-preview {
  border-top: 3px solid #30363D !important;
}

button[data-state] {
  padding: 0 !important;
}

@media (min-width: 768px) {
  .w-md-editor-content {
    flex-direction: row !important;
  }

  .w-md-editor-input,
  .w-md-editor-preview {
    width: 50% !important;
    flex: auto !important;
  }

  .w-md-editor-preview {
    border: 0 !important;
  }
}

@media (min-width: 1024px) {
  .MDEditor .w-md-editor-toolbar li button svg {
    width: 17px;
    height: 17px;
  }
}